<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyue.judgmentdoc.data.DocumentMapper">

    <select id="getAll" resultMap="Document">
        select *
        from document
        <where>
            <if test="keyword!=null and keyword!=''">
                content like concat(concat('%',#{keyword}),'%')
            </if>
            <if test="courtName!=null and courtName!=''">
                and court_name like concat(concat('%',#{courtName}),'%')
            </if>
            <if test="name!=null and name!=''">
                and name like concat(concat('%',#{name}),'%')
            </if>
            <if test="number!=null and number!=''">
                and number like concat(concat('%',#{number}),'%')
            </if>
            <if test="startDate!=null">
                and date_format(date,'%Y-%m-%d')>=#{startDate,jdbcType=DATE}
            </if>
            <if test="endDate!=null">
                and #{endDate,jdbcType=DATE}>=date_format(date,'%Y-%m-%d')
            </if>
            <if test="catalogs != null and catalogs.size() > 0">
                and catalog_id in
                <foreach collection="catalogs" item="catalog" index="index" open="(" separator="," close=")">
                    #{catalog}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getAllCatalog" resultMap="Catalog">
        select *
        from document_catalog
    </select>

    <select id="getDocumentById" resultMap="Document">
        select *
        from document
        where id = #{id}
    </select>

    <select id="getMembersByDocumentId" resultMap="Member">
        select *
        from document_member
        where document_id = #{documentId}
    </select>

    <select id="getDocumentsByUserId" resultMap="Document">
        select *
        from document
        where user_id = #{userId}
    </select>

    <resultMap id="Document" type="com.panyue.judgmentdoc.po.Document">
        <id column="id" property="id"></id>
        <result column="court_name" property="courtName"></result>
        <result column="name" property="name"></result>
        <result column="number" property="number"></result>
        <result column="date" property="date"></result>
        <result column="content" property="content"></result>
        <result column="catalog_id" property="catalogId"></result>
    </resultMap>
    <resultMap id="Catalog" type="com.panyue.judgmentdoc.po.Catalog">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="parent_id" property="parentId"></result>
    </resultMap>
    <resultMap id="Member" type="com.panyue.judgmentdoc.po.Member">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="status" property="status"></result>
        <result column="document_id" property="documentId"></result>
    </resultMap>

</mapper>