<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panyue.judgmentdoc.data.UserMapper">

    <select id="getUserByUsername" resultMap="User">
        select *
        from user
        where username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.panyue.judgmentdoc.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(username, password, phone, email, role)
        values (#{username}, #{password}, #{phone}, #{email}, #{role})
    </insert>

    <select id="getUserInfoById" resultMap="User">
        select id, username, phone, email, role, avatar
        from user
        where id = #{id}
    </select>

    <update id="updateAvatarById">
        update user
        set avatar=#{avatar}
        where id = #{userId}
    </update>

    <update id="updateUserInfoById" parameterType="com.panyue.judgmentdoc.po.User">
        update user
        set phone=#{phone},
            email=#{email}
        where id = #{id}
    </update>

    <update id="updatePasswordById">
        update user
        set password=#{password}
        where id = #{userId}
    </update>

    <resultMap id="User" type="com.panyue.judgmentdoc.po.User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="role" property="role"></result>
        <result column="avatar" property="avatar"></result>
    </resultMap>

</mapper>